<app-header></app-header>
<div class="landing-place">
<div class="about-content">
    <h3>
        About us
    </h3>
    <p>
        We are a pioneer manufacturer of Compounded Asafoetida.<br>
        We manufacture best quality asafoetida with proper manufacturing<br>
        practices on food saftey management in a hygiene facility to deliver<br> 
        right quality varieties of asafoetida products. Our project consists of<br>
        Asafoetida Powder and Asafoetida Lumps
    </p>
    
    <button class="start-button" mat-raised-button color='warn'>See our Products</button>
    
</div>

<div class="slide-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <img src="assets\imgs\100g.png">
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <img src="assets\imgs\100g.png">
                </div>
            </div>
        </div>
    </div>
</div>
</div>